/*main styles*/
* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px; }

h1 {
  font-size: 46px;
  padding: 20px 0px; }

p {
  line-height: 32px; }

img {
  width: 100%; }

a {
  text-decoration: none; }

/*grid*/
.row {
  width: 100%; }

.grid-1 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-1 {
      width: 3.33333%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-2 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-2 {
      width: 11.66667%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-3 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-3 {
      width: 20%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-4 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-4 {
      width: 28.33333%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-5 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-5 {
      width: 36.66667%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-6 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-6 {
      width: 45%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-7 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-7 {
      width: 53.33333%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-8 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-8 {
      width: 61.66667%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-9 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-9 {
      width: 70%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-10 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-10 {
      width: 78.33333%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-11 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-11 {
      width: 86.66667%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-12 {
  width: 100%;
  display: inline-block; }
  @media (min-width: 800px) {
    .grid-12 {
      width: 95%;
      margin: 2.5%;
      vertical-align: middle; } }

/*end grid */
/*navbar*/
header {
  position: fixed;
  top: 0px;
  width: 80%;
  background-color: transparent;
  margin: 0px;
  z-index: 999;
  padding: 30px 10%;
  color: #fff; }
  header nav {
    font-size: 20px;
    float: right; }
    header nav a {
      margin-left: 30px;
      text-decoration: none;
      color: #fff; }

.logo {
  padding-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 20px; }

/*end navbar */
.welcome {
  height: 100vh;
  background: url("img/bridge.jpg");
  background-size: cover; }
  .welcome:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0vh;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .8; }
  .welcome .intro {
    position: relative;
    top: 30%;
    width: 40%;
    color: #fff;
    margin: 0 auto; }
    .welcome .intro p {
      text-align: left;
      margin-bottom: 50px; }
    .welcome .intro a {
      padding: 20px 30px;
      border: 2px solid #fff;
      color: #fff;
      text-decoration: none; }

.about, .projects, .join {
  margin: 3% 7.5%; }

.projects h1, .join h1 {
  margin: 0 2.5%; }

.project {
  border: 3px solid #eee;
  padding: 20px;
  box-sizing: border-box; }
  .project h2 {
    margin: 0 2.5%; }
  .project a {
    color: #777;
    margin-left: 30px; }
  .project nav {
    text-align: center; }
    .project nav a {
      width: 50%;
      background-color: #eee;
      padding: 20px 5px;
      margin: 20px 0; }
  .project section {
    margin-bottom: 30px; }

.form-control {
  display: block;
  width: 100%;
  padding: 15px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dce4ec;
  border-radius: 4px; }

.mailing {
  background-color: #eee;
  padding: 50px; }

#sign-up-response {
  text-align: center;
  padding-bottom: 20px; }

.response-waiting {
  color: #d8bd1e; }

.response-success {
  color: #0fba34; }

.response-error {
  color: #ba1c0f; }

.form {
  width: 60%;
  margin: 0 auto; }
  .form h1 {
    text-align: center;
    font-size: 38px; }
  .form #submit {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 10px 45px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #2c3e50;
    color: #fff;
    border: 1px solid transparent; }

/*# sourceMappingURL=style.css.map */
